language: ruby
rvm: 2.1.0

cache: bundler

before_install:
  - "echo 'gem: --no-document' > ~/.gemrc"
  - "echo '--colour' > ~/.rspec"

before_script:
  - bundle exec rake db:create db:schema:load RAILS_ENV=test

notifications:
  email: false
  irc:
    channels: 'chat.freenode.net#craftsmen'
    template: '%{repository_name} build #%{build_number} on %{branch} by %{author} finished: %{message}: %{build_url}'
