.new-place,
.edit-place {
  padding: 0 0 $base-spacing 0;

  > div {
    padding: 0 $base-spacing;
  }

  hr {
    display: none;
  }

  @include media($medium-screen) {
    > div {
      @include outer-container;
    }

    hr {
      display: block;
      margin-bottom: $base-spacing * 2;
    }
  }
}

.place-thank-you {
  margin-bottom: $base-spacing * 2;
}
