body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.container {
  @include outer-container;
}

.turbolinks-progress-bar {
  background-color: $red;
  height: 2px;
}
