.navigation-main {
  $navigation-height: 60px;
  $navigation-background: $red;

  background-color: $navigation-background;
  color: #fff;
  width: 100%;

  > div {
    @include outer-container;
    @include display(flex);
  }

  h1 {
    flex: 1;
    font-size: $base-font-size * 1.5;
    line-height: $navigation-height;
    margin: 0;
  }

  li {
    display: inline-block;
    line-height: $navigation-height;
    margin-right: $small-spacing;

    &:last-child {
      margin-right: 0;
    }

    &.cta a {
      background-color: lighten($navigation-background, 5%);
      border-radius: $base-border-radius;
      padding: $small-spacing;

      i {
        margin-right: $small-spacing / 2;
      }
    }
  }

  a,
  a:hover {
    color: #fff;
  }
}
