.navigation-main {
  $navigation-height: 60px;
  $navigation-background: #fff;

  background-color: $navigation-background;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;

  > div {
    @include outer-container;
    @include display(flex);
  }

  h1 {
    flex: 1;
    font-size: $base-font-size * 1.5;
    line-height: $navigation-height;
    margin: 0;

    a {
      color: $dark-gray;

      .extension {
        color: $red;
      }
    }
  }

  li {
    display: inline-block;
    line-height: $navigation-height;
    margin-right: $small-spacing / 2;
    font-size: $base-font-size * 0.8;

    &:last-child {
      margin-right: 0;
    }

    @include media($small-screen) {
      font-size: $base-font-size;
    }

    @include media($medium-screen) {
      &.cta a {
        background-color: lighten($red, 33%);
        border-radius: $base-border-radius;
        padding: $small-spacing;

        i {
          margin-right: $small-spacing / 2;
        }
      }
    }
  }
}
