.form-section {
  @include clearfix;
  margin-bottom: $base-spacing * 2;
}

.form-labels {
  .hint {
    color: $medium-gray;
  }
}

.form-actions {
  input {
    margin-right: $small-spacing;
  }
}

.field-with-error {
  #{$all-text-inputs},
  select,
  textarea {
    margin-bottom: 0;
  }

  label {
    font-weight: bold;
  }

  .field-error {
    color: $red;
    display: block;
    margin: ($small-spacing / 2) 0 $small-spacing;
  }
}

@include media($medium-screen) {
  .form-labels {
    @include span-columns(3);
  }

  .form-inputs {
    @include span-columns(9);
  }
}
