.place-card {
  @extend .card;
  white-space: nowrap;

  header {
    @include clearfix;
    @include display(flex);

    margin: $small-spacing 0;

    h4 {
      flex: 1;
      margin: 0 $small-spacing 0 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    span {
      @extend .tag;
      padding: $base-spacing * 2;
    }
  }

  p {
    margin: 0;
  }

  footer {
    color: $medium-gray;
    display: flex;
    font-size: 0.9em;
    margin: 0;

    p {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .url {
      flex: 2;
    }

    .updated-at {
      flex: 1;
      text-align: right;
    }
  }

  img {
    @include filter(grayscale(30%) opacity(0.5));
  }

  &:hover img {
    @include filter(none);
  }
}
