.places-search {
  background-color: $red;
  padding: 0 0 ($base-spacing * 2) 0;
  text-align: center;

  h1 {
    color: #fff;
  }

  > div {
    @include outer-container;
  }

  .places-search-bar {
    font-size: 1.2em;
    margin: auto;
    position: relative;
    width: 90%;

    input[type=search] {
      @include appearance(none);
      @include transition(border-color);

      background-color: #fff;
      border-radius: $base-border-radius;
      border: 0;
      box-shadow: none;
      box-sizing: border-box;
      display: block;
      font-weight: 300;
      margin: 0;
      padding: $base-spacing / 4;
      position: relative;
      width: 100%;

      @include placeholder {
        opacity: 0.7;
      }
    }

    button[type=submit] {
      @include position(absolute, 0 0 0 null);

      background: #fff;
      border: 0;
      border-radius: none;
      box-shadow: none;
      color: $red;
      outline: none;
      padding: 5px 10px;
    }
  }

  @include media($medium-screen) {
    h1 {
      font-size: $base-font-size * 3;
    }

    .places-search-bar {
      font-size: 1.5em;
      width: 70%;
    }
  }
}
