.place-card {
  @extend .card;
  white-space: nowrap;

  .place-title {
    @include clearfix;
    @include display(flex);

    margin: $small-spacing 0;

    h4 {
      flex: 1;
      margin: 0 $small-spacing 0 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    span {
      @extend .tag;
    }
  }

  p {
    color: $medium-gray;
    font-size: 0.9em;
    margin-bottom: $small-spacing / 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  img {
    @include filter(grayscale(30%) opacity(0.5));
  }

  &:hover img {
    @include filter(none);
  }
}
