.places-search {
  padding: 0 0 ($base-spacing * 2) 0;

  h1 {
    font-size: $base-font-size * 3;
  }

  > div {
    @include outer-container;
  }

  input[type="search"] {
    border: none;
    box-shadow: none;
    display: inline;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }
}
