h3 {
  font-size: rem-calc(22);
}

.full-page {
  padding-top: rem-calc(16);
}

.hint {
  color: $hint-color-text;
  font-size: rem-calc(14);
}

.submit {
  margin: 20px 0 ;
}

.button {
  @include radius(5px);
  box-shadow: 0px 4px 0px 0px darken($primary-color, 12);

  i {
    padding-right: rem-calc(5);
  }
}
