.ember-application, .ember-view, .full-height, .leaflet-container {
  height: 100%;
}

#map-app {
  max-width: none;
}

@media #{$small-only} {
  #panel {
    display:none;
  }
  
  #map-app.display-place {
    #map {
      display:none;
    }

    #panel {
      display: block;
    }
  }
}

#map {
  padding:0;
}
