#panel {
  padding: 0;
  background-color: $third-color;

  .row {
    margin: 0;
  }

  span {
    padding-right: rem-calc(5);
  }

  h1 {
    background-color: $primary-color;
    color: $primary-color-text;
    font-size: rem-calc(26);
    margin: 0;
    padding: rem-calc(5) rem-calc(10);
    font-weight: 300;
  }

  .add, .edit {
    padding: rem-calc(10);
    text-align: center;
  }
}

.add, .edit {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#place {
  h1 i {
    position: absolute;
    right: 5px;
    top: 8px;
    cursor: pointer;
  }

  .header {
    background-color: white;
    padding: rem-calc(10) rem-calc(5);

    p {
      margin-bottom: rem-calc(5);
      font-size: rem-calc(13);
    }

    p.street {
      margin-bottom: 0;
    }

    p.url {
      margin-top: rem-calc(3);
    }

    p.url i, p.street i {
      font-size: rem-calc(11);
      padding-right: rem-calc(5);
    }

    p.city {
      padding-left: rem-calc(15);
    }

    img {
      max-height: 70px;
    }

    .columns {
      padding-left: rem-calc(5);
      padding-right: rem-calc(5);
    }
  }

  .content {
    padding: rem-calc(10);

    .placeholder {
      background-color: #E2E1E1;
      color: #E2E1E1;
    }
  }
}

#search {
  background-color: white;
  height: 100%;
  position: relative;

  ul.filters {
    padding: rem-calc(10);
    margin: 0;

    li {
      list-style: none;
      padding: 0 0 rem-calc(5) 0;
      margin: 0;

      label {
        font-size: rem-calc(16);
      }

      input {
        margin-right: rem-calc(10);
      }

      input[type="checkbox"] {
        vertical-align: bottom;
      }
    }
  }
}
