#panel {
  padding: 0;
  background-color: $third-color;

  .row {
    margin: 0;
  }

  span {
    padding-right: rem-calc(5);
  }

  h1.header {
    background-color: $primary-color;
    color: $primary-color-text;
    font-size: rem-calc(26);
    margin: 0;
    padding: rem-calc(5) rem-calc(10);
    font-weight: 300;
  }

  .add, .edit {
    padding: rem-calc(10);
    text-align: center;
    vertical-align: bottom;
  }

  .add {
    padding-top: 75px;
    background: image-url('arrow-add.png') no-repeat center top;
  }

  .edit.needs-description {
    padding-top: 110px;
    background: image-url('arrow-description.png') no-repeat center top;
  }
}

.add, .edit {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#place {
  h1 i {
    position: absolute;
    right: 5px;
    top: 8px;
    cursor: pointer;
  }

  .header {
    background-color: white;
    padding: rem-calc(10) rem-calc(5);

    p {
      margin-bottom: rem-calc(5);
      font-size: rem-calc(13);
    }

    p.street {
      margin-bottom: 0;
    }

    p.url {
      margin-top: rem-calc(3);
    }

    p.url i, p.street i {
      font-size: rem-calc(11);
      padding-right: rem-calc(5);
    }

    p.city {
      padding-left: rem-calc(15);
    }

    img {
      max-height: 70px;
    }

    .columns {
      padding-left: rem-calc(5);
      padding-right: rem-calc(5);
    }
  }

  .content {
    padding: rem-calc(10);

    .placeholder {
      background-color: #E2E1E1;
      color: #E2E1E1;
    }

    p {
      margin-bottom: rem-calc(5);
    }

    h1 {
      font-size: rem-calc(20);
      margin-bottom: rem-calc(5);
      font-weight: 400;
    }

    h2, h3, h4, h5, h6 {
      font-size: rem-calc(18);
      margin-bottom: rem-calc(5);
      font-weight: 400;
    }

    h3, h4, h5, h6 {
      font-size: rem-calc(16);
      margin-bottom: rem-calc(5);
      font-weight: 400;
    }
  }
}

#search {
  background-color: white;
  height: 100%;
  position: relative;

  .stats {
    padding: rem-calc(20);
    text-align: center;

    span.counter {
      font-size: rem-calc(38);
      font-weight: 400;
    }
  }

  ul.filters {
    padding: rem-calc(10);
    padding-top: 0;
    margin: 0;

    li {
      list-style: none;
      padding: 0 0 rem-calc(5) 0;
      margin: 0;

      label {
        font-size: rem-calc(16);
      }

      input {
        margin-right: rem-calc(10);
      }

      input[type="checkbox"] {
        vertical-align: bottom;
      }
    }

    li.is-selected label {
      font-weight: bold;
    }
  }
}
