<footer class="footer-main">
  <div>
    Made with <%= fa_icon('heart') %> by
    <%= link_to 'Mainelabs', 'http://mainelabs.fr' %>
    &
    <%= link_to 'Angers Technopole', 'http://angerstechnopole.com/' %>
  </div>
</footer>
