<nav>
  <div>
    <h1>Angers/io</h1>
    <ul class="navigation-links">
      <li>
        <%= link_to new_place_path do %>
          Pas encore dans la liste ? Ajoutez votre lieu !
        <% end %>
      </li>
    </ul>
  </div>
</nav>
