<nav class="navigation-main">
  <div>
    <h1><%= link_to 'Angers/io', root_path %></h1>
    <ul class="navigation-links">
      <li>
        <%= link_to new_place_path do %>
          Pas encore dans la liste ? Ajoutez votre lieu !
        <% end %>
      </li>
    </ul>
  </div>
</nav>
