<nav class="navigation-main">
  <div>
    <h1>
      <%= link_to root_path do %>
        Angers.<span class="extension">io</span>
      <% end %>
    </h1>
    <ul class="navigation-links">
      <li><%= link_to 'Tous les lieux', places_path %></li>
      <li class="cta">
        <%= link_to new_place_path do %>
          <%= fa_icon('plus') %>
          Ajouter un lieu
        <% end %>
      </li>
    </ul>
  </div>
</nav>
