<div class="row">
  <div class="small-12 medium-10 columns medium-centered">
    <h2>Add a place</h2>
    <hr />

    <p>Well done ! Your place has correctly been saved. We'll add it to the map soon, after we have
      checked all the informations you have provided.</p>

    <p>Thanks for your contribution !</p>

    <%= link_to 'Back to the map', root_path, class: 'button' %>
  </div>
</div>
