<section class="new-place">
  <div>
    <h1>Ajouter un nouveau lieu</h1>
    <hr>

    <div class="place-thank-you">
      <p>Le lieu a été correctement sauvegardé. Nous l'ajouterons à la carte très
        prochainement, après avoir vérifié vos informations.</p>

      <p>Merci de contribuer à ce projet !</p>
    </div>

    <%= link_to 'Revenir à la liste', root_path, class: 'button' %>
  </div>
</section>
