<% content_for(:meta_robots, 'noindex') %>

<section class="edit-place">
  <div>
    <h1>Mettre à jour un lieu</h1>
    <hr>

    <%= simple_form_for(@place_update, url: place_path(@place_update.place), method: :put) do |f| %>

      <%= render partial: 'form', locals: { f: f } %>

      <div class="form-actions">
        <%= f.button :submit, 'Mettre à jour le lieu' %>
        ou
        <%= link_to 'annuler', @place_update.place %>
      </div>

    <% end %>
  </div>
</section>
