<section class="new-place">
  <div>
    <h1>Ajouter un nouveau lieu</h1>
    <hr>

    <%= simple_form_for(@place) do |f| %>

      <%= render partial: 'form', locals: { f: f } %>

      <div class="form-actions">
        <%= f.button :submit, 'Ajouter le lieu' %>
        ou
        <%= link_to 'revenir à la liste', root_path %>
      </div>

    <% end %>
  </div>
</section>
