<div class="full-page row">
  <div class="small-12 medium-10 columns medium-centered">
    <h2><%= t('places.messages.update_a_place') %></h2>
    <hr />

    <p><%= t('places.messages.place_updated') %></p>

    <p><%= t('places.messages.thanks_for_contributing') %></p>

    <%= link_to t('places.messages.back_to_map').capitalize, root_path, class: 'button' %>
  </div>
</div>
