<section class="edit-place">
  <div>
    <h1>Mettre à jour un lieu</h1>
    <hr>

    <div class="place-thank-you">
      <p>Votre demande de mise à jour a été correctement sauvegardée. Nous la
        validerons sous peu.</p>

      <p>Merci de contribuer à ce projet !</p>
    </div>

    <%= link_to 'Revenir à la liste', root_path, class: 'button' %>
  </div>
</section>
